<title>Call Sorting</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% load static %}
  <div class="w3-container">
    <h5>File In Records</h5>
    <table id="myTable" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <thead>
            <tr >
                <th>Name</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
          {% for i in list %}
            <tr onclick= "window.location.href='{% static i.name %}';">
                <td>{{ i.name }} </td>
                <td>{{i.date_create}}</td>
            </tr>
            {% endfor %}
        </tbody>

</table>


<br>
  </div>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
    <script
  src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"
  crossorigin="anonymous"></script>
 

  <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
    </script>